# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
build/
dist/
*.egg-info/

# Streamlit
.streamlit/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project Specific
test_results/
